.social-container {
    background: rgb(215, 215, 215);
    padding: 25px 50px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-4px);
}

a.twitter {
    color: #49a1eb!important;
    margin: 10px;
}

a.instagram {
    color: black;
    margin: 10px;
}

a.facebook {
    color: #4968ad!important;
    margin: 10px;
}